<template name="about">
    <div class="about">
    <section>
        <div class="content">
            <h1>About Charlie</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus atque eveniet quas pariatur repellat debitis, deserunt nihil facilis accusamus ad, non optio alias, vitae, velit. Asperiores, atque. Impedit ratione laboriosam quisquam nulla, totam dolore molestiae ullam, ut, error nesciunt ipsum enim sequi corporis voluptate quae ipsa vitae culpa quos nihil.</p>

            <p><a href="{{pathFor 'cv.view'}}" class="closer btn">Check Out My Resume</a></p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi sed inventore veritatis sint ipsa iure, fuga cumque doloribus fugiat sapiente? Fugiat hic inventore quo, impedit quod doloribus numquam, iure quia blanditiis rerum officiis. Aliquid velit, ipsa illo earum facere eaque, delectus minus facilis unde, assumenda, dolor provident quo quisquam iste nisi officiis a ducimus! Repudiandae eligendi quisquam quos repellendus error amet ex, harum fugiat! Laborum repudiandae culpa quae mollitia facilis animi quaerat expedita? Maxime velit aperiam excepturi officia, quis facilis, porro obcaecati a vero provident modi perferendis repellendus. Deleniti quo tempora, quisquam dolor vero saepe veniam perspiciatis ex repellendus commodi.</p>

            <div class="social">
                <a href="mailto:hello@charliefox.me"><i class="fa fa-envelope"></i></a>
                <a href="https://www.linkedin.com/in/webartificer"><i class="fa fa-linkedin"></i></a>
                <a href="http://www.github.com/webartificer"><i class="fa fa-github"></i></a>
                <a href="http://www.twitter.com/OakSeven"><i class="fa fa-twitter"></i></a>
            </div>


        </div>
    </section>
    </div>


</template>
