<template name="hero">
    <div id="hero">
        <div id="herotag">

            <h1>Hello World!</h1>
            <h4>Thanks for Visiting the Personal Portfolio of <span>Charlie Fox</span></h4>
            <p>I am a front end designer/developer with a passion for UI design and good clean code. I recently graduated from <a href="#">RefactorU</a>, a full-stack web development bootcamp in Boulder, Co. and am ready to put my <a href="#">skills</a> to good use.</p>
        </div>

    </div>

</template>
