<head>
    <meta charset="utf-8">
<!--     <meta name="viewport" content="width=device-width, initial-scale=1.0">
 -->    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <title>Charlie Fox</title>
    <link rel="icon" type="image/png" href="favicon.ico" sizes="32x32" />
    <script src="//use.typekit.net/cff5wgs.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
</head>

<body>
    {{> menu}}
</body>

<template name="layout">

    {{> header}}
    <main>
        {{> yield}}
    </main>
    {{> footer}}
</template>
