<template name="menu">
<div class="menu">
    <ul>
        <li><a href="{{pathFor 'index.view'}}" class="closer"><i class="fa fa-home "></i> Home</a></li>
        <li><a href="{{pathFor 'portfolio.view'}}" class="closer"><i class="fa fa-picture-o "></i> Portfolio</a></li>
        <li><a href="{{pathFor 'project.view'}}" class="closer"><i class="fa fa-code "></i> Projects</a></li>
        <li><a href="{{pathFor 'blog.view'}}" class="closer"><i class="fa fa-comment-o"></i> Blog</a></li>
    </ul>
</div>
<div class="overlay"></div>
</template>
