<template name="portfolioItem">
<div class="portfolio_item">


<a href="{{pathFor 'portfolioDesc.view'}}">
    <figure class="effect-zoe">
        <img src="{{image}}" >
        <figcaption>
            <h2>{{title}}</h2>
            <span>{{tags}}</span>
<!--             <p class="icon-links">
    <a href="#"><span class="icon-heart"></span></a>
    <a href="#"><span class="icon-eye"></span></a>
    <a href="#"><span class="icon-paper-clip"></span></a>
</p> -->
        </figcaption>
    </figure>
</a>
</div>
</template>
