<template name="projectView">
    <div class="container top">
        <h1>Projects / <span>Development</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet illum repellat voluptatem accusamus sunt doloribus, aliquid. Natus quibusdam provident molestias ea error reiciendis, ipsa neque sint officia perspiciatis eius excepturi repellendus sequi et, earum cum culpa ex praesentium atque dicta delectus nam magnam? Accusantium ab, molestias maxime, quia ipsam voluptates?</p>
    </div>
    {{> projectList}}
</template>
