<template name="portfolioView">
    <div class="container top">
        <h1>Portfolio / <span>Design Work</span></h1>
        <p>Below is a collection of various logo designs I have created. Most designs were created using Adobe Illustrator but I am currently really loving <a href="http://bohemiancoding.com/sketch/">Sketch</a> by Bohemian Coding. If you would like any contract design work done please <a href="mailto:hello@charliefox.me">contact me</a>.</p>
        </div>
    {{> portfolioList}}
</template>
