<template name="cvView">
    <section class="top cv">
        <span class="cvdownload"><a href="https://dl.dropboxusercontent.com/u/5107134/cf/charlie_fox_web_developer.pdf"><i class="fa fa-file-pdf-o"></i><p>PDF</p></a></span>
        <h3><i class="fa fa-file-text-o"></i> Curriculum Vitae</h3>

        <h1>Charlie Fox</h1>
        <h4>Web Developer & UI Designer</h4>
            <span class="details">
                <i class="fa fa-map-marker"></i> Broomfield, Colorado
            </span>
            <span class="details">
                <a href="tel:7204925040" class="phone"><i class="fa fa-phone"></i> 720.492.5040</a>
            </span>
            <span class="details">
                <a href="mailto:hello@charliefox.me"><i class="fa fa-envelope-o"></i> hello@charliefox.me</a>
            </span>

        <h2>Summary</h2>
        <p>I am a front end designer/developer with a passion for UI design and good clean code. I have recently graduated from RefactorU, a full-stack web development bootcamp in Boulder, Co, to bolster my development skills. My design skills combined with my newly acquired development knowledge make me a well rounded candidate for a broad range of front end positions.</p>

        <h2>Skills</h2>
        <div class="skillcontainer">
            <div><i class="fa fa-check"></i>User Interface Design</div>
            <div><i class="fa fa-check"></i>Web Development</div>
            <div><i class="fa fa-check"></i>Front-End Development</div>
            <div><i class="fa fa-check"></i>Front-End Design</div>
            <div><i class="fa fa-check"></i>Javascript</div>
            <div><i class="fa fa-check"></i>Node.js</div>
            <div><i class="fa fa-check"></i>Angular</div>
            <div><i class="fa fa-check"></i>Express</div>
            <div><i class="fa fa-check"></i>MongoDB</div>
            <div><i class="fa fa-check"></i>Mongoose</div>
            <div><i class="fa fa-check"></i>Meteor</div>
            <div><i class="fa fa-check"></i>Sketch App</div>
            <div><i class="fa fa-check"></i>Illustrator</div>
            <div><i class="fa fa-check"></i>Photoshop</div>

        </div>

        <h2>Experience</h2>
            <h5>OakSeven</h5>
            <h6>Founder / Developer &raquo; January 2012 - March 2015</h6>
            <ul class="company">
                <li>Founded Oakseven as a sole proprietorship in January of 2015.</li>
                <li>Created the business model and orchestrated all aspects of building the organization.</li>
                <li>Desiged wireframes for the look and feel of the website.</li>
                <li>Developed website using various libraries and frameworks such as Meteor, Jeet and MongoDB.</li>
                <li>Designed logos, branding, style guides and branded apparel</li>
            </ul>

            <h5>TeeFor2</h5>
            <h6>Art Director / IT / Marketing &raquo; June 2007 - December 2014</h6>
            <ul class="company">
                <li>Created custom graphics suitable for all aspects of custom apparel screen printing and sublimation.</li>
                <li>Promoted to Art Director in order to oversee all areas of prepress production and organization.</li>
                <li>Worked with the production department to insure a high level of quality throughout projects.</li>
                <li>Tasked with operating and maintaining all digital garment printing equipment.</li>
                <li>Led numerous successful marketing campaigns, increasing sales by 20%. </li>
                <li>Greatly increased productivity by developing a local intranet based work order management and estimating software.</li>
            </ul>

            <h5>Tap Plastics</h5>
            <h6>Designer / Fabricator &raquo; October 2000 - January 2007</h6>
            <ul class="company">
                <li>Designed products and prototypes through sketching and interaction with retail clients.</li>
                <li>Fabricated said products using various tools and plastic fabrication machinery.</li>
                <li>Trained and provided support for all new employees.</li>
            </ul>

        <h2>Education</h2>
            <h5>RefactorU</h5>
            <h6>January 2015 - March 2015</h6>
            <p class="company">Graduated from this 10 week intensive bootcamp on March 20th, 2015 with a solid understanding of all the curriculum. Throughout the program we were coding 8+ hours per day, every day, in which we applied the knowledge we gained into numerous projects and excercises. The curriculum in this program consisted of the following:</p>
            <div class="curriculum">
                <span>HTML/CSS</span>
                <span>Javascript</span>
                <span>Command Line</span>
                <span>Node.js</span>
                <span>Mongo DB</span>
                <span>Angular</span>
                <span>Semantic Markup</span>
                <span>Developer Tools</span>
                <span>Responsive Web Design</span>
                <span>Ajax</span>
                <span>Build Systems</span>
                <span>Functional Programming</span>
                <span>Object-Oriented Programming</span>
                <span>Debugging Skills</span>
                <span>Pair Programming</span>
                <span>Test-Driven Development</span>
                <span>Unit Testing</span>
                <span>Design Patterns</span>
                <span>jQuery</span>
                <span>Twitter Bootstrap</span>
                <span>Underscore</span>
                <span>Stylus</span>
            </div>
            <h5>Purdue University</h5>
            <h6>September 1994 - June 1996</h6>
            <p class="company">Completed 2 years of study pursuing a Computer Information Technology degree. Course concentrations included:
                Systems Analysis and Design Methods,
                Programming for the Internet,
                Data Communications and Networking and
                Internetwork Design and Implementation.
            </p>
    </section>

</template>
